@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Academia Rumos 2020</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Esta web app é publicada através de uma Pipeline em GitHib.</a>.</p>
</div>
